.Settings {
    padding: 2rem 5rem;

    &.dark {
        background-color: $white;
        width: 100%;
        height: 100%;
    }

    @include large-mobile {
        text-align: center;
        padding: 0px;;
        // margin: 10px;
    }

    > .MuiBox-root {
        height: unset;
        background-color: $white;
        @include large-mobile {
            flex-direction: column !important;
        }
    }

    h1.Settings__header {
        margin-bottom: 2rem;
    }

    .MuiTabs-root {
        min-width: 150px;
    }

    .Settings__tabpanel {
        width: 100%;
    }
}