.Profile {
    display: flex;
    gap: 3rem;
    

    .Profile__right {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 2rem;

        .Profile__right__cancel {
            color: $black;
            border-color: $black;
            border-radius: 22px;
        }

        .Profile__right__save {
            color: white;
            background-color: $black;
            border-color: white;
            border-radius: 22px;

            &.Mui-disabled {
                background-color: $grey;
            }

            &.MuiLoadingButton-loading {
                color: transparent;
            }

            .MuiLoadingButton-loadingIndicator {
                color: $white;
            }
        }
    }
}