@import './styles/main.scss';

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Secular One', sans-serif;
}

.App {
    height: 100vh;
    width: 100vw;
    position: relative;
    overflow: hidden;
}