.BugStatus {
    min-width: 100px;
    
    button.BugStatus__selectButton {
        border-radius: 22px;
        border-width: 2px;
        width: 110%;
        font-weight: 400;

        &.open {
            border-color: $purple !important;
            color: $purple !important;
            box-shadow: $lightBoxShadow;

            &:hover {
                background-color: rgba($purple, .1);
            }
        }

        &.inprogress {
            border-color: $green !important;
            color: $green !important;
            box-shadow: $lightBoxShadow;

            &:hover {
                background-color: rgba($green, .1);
            }
        }

        &.closed {
            border-color: $purple2 !important;
            color: $purple2 !important;
            box-shadow: $lightBoxShadow;

            &:hover {
                background-color: rgba($purple2, .1);
            }
        }
    }
}