.BugPage {
    margin-left: 50px;
    height: 100%;

    @include large-mobile {
        margin-left: 0px;
    }

    .zoomSection {
        top: 0px;
        left: 20px;
        position: absolute;
        width: calc(100% - 40px);
        height: 100%;
        z-index: 1;
        transition: ease 500ms;
        z-index: 2;
    }

    .BugPage__header {
        display: flex;
        padding: 20px;

        @include large-mobile {
            display: block;
        }

        div:first-child {
            flex: 2 1;
        }

        div:last-child {
            display: flex;
            flex: 4 1;
            padding-left: 20px
        }

        .saveButton {
            @extend .ButtonDefault;
            margin-left: 20px;

            &:hover {
                background-color:$greenBg;
            }
        }
    }

    .BugPage__content {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        position: relative;
        height: 100%;

        @include large-mobile {
            display: flex;
            flex-wrap: nowrap;
            flex-direction: column-reverse;
            justify-content: center;
            align-items: center;
            position: relative;
            width: 100%;
        }

        > * {
            display: flex;
            flex-direction: column;
            width: 50%;
            height:100%;

            @include large-mobile {
                width: 98%;

                &:nth-of-type(1) {
                    display: none;
                }    
                &:nth-of-type(2) {
                    padding: 0px 0px 1rem 0px !important;
                }    
            }
            
            &:nth-of-type(1) {
                padding: 10px 10px 20px 20px;
                flex: 2;
            }

            &:nth-of-type(2) {
                padding: 10px 20px 20px 10px;
                flex: 4;
            }

            > * {
                width: 100%;
                height: 100%;
                border-radius: 10px;
                box-shadow: 0px 0px 20px 6px rgba(0,0,0,0.06);
                transition: ease 500ms;

                &.zoomSection {
                    @extend .zoomSection;
                    background: $white;
                }
            }
        }
    }
}