.BugList.empty {
    width: 100%;
    height: 100%;
}

.BugList:not(.empty) {
    margin: 1rem auto 0px;
    max-width: 720px;
    height: calc(100vh - 70px);
    position: relative;

    .BugList__cards {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        height: 100%;
        width: 100%;
        overflow: scroll;
        padding: 2rem;
        position: absolute;

        .BugList__inner__card {
            background-color: $white;
            box-shadow: $lightBoxShadow !important;
            padding: 1rem;
            position: relative;
            border: 2px solid;

            > .card__status__badge {
                cursor: pointer;
                position: absolute;
                top: 0px;
                left: 0px;
                height: 20px;
                width: 20px;
                z-index: 1;
                border-style: solid;
                border-width: 0px 0px 20px 20px;
                border-color: transparent transparent white transparent;
                box-shadow: $lightBoxShadow;

                &.open {
                    background: $purple;
                }
                &.inprogress {
                    background: $green;
                }
                &.closed {
                    background: $purple2;
                }
            }

            .MuiCardHeader-root {
                padding: 0rem;

                .MuiCardHeader-content {
                    .MuiCardHeader-title {
                        font-size: 18px;
                    }

                    .MuiCardHeader-subheader {
                        font-size: 13px;
                    }
                }
            }
        }

        .MuiCardContent-root {
            padding: 4px 16px;

            > p {
                padding: 5px 3px;
                align-items: center;
                overflow: hidden;
                white-space: nowrap;
                text-overflow: ellipsis;
                max-height: fit-content;
                line-height: normal;
            }
        }

        .MuiCardActions-root {
            padding: 4px 0px;
        }
    }
}