@import '../../styles/fonts.scss';
@import '../../styles/variables.scss';

$sidebarBgColor: #ececec;

.SideMenu {
    z-index: 99;
    background-color: $white;
    border-top: 1px solid $borderColor;
    border-right: 1px solid $borderColor;
    position: absolute;
    height: calc(100vh - 45px);
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    transition: linear 100ms;
    box-shadow: $lightBoxShadow;

    &.open {
        width: 50px;
    }

    &.closed {
        width: 20vw;
    }

    .MuiButtonBase-root {

        &:nth-child(2) {
            margin-top: 5rem;
        }
        
        &.Sidebar__expandButton {
            position: absolute;
            top: 1rem;
            right: -15px;
            background-color: $black;
            box-shadow: $defaultBoxShadow;

            .MuiSvgIcon-root {
                fill: $white;
            }

            &:hover {
                background-color: lighten($black, 5%);
            }
        }


        margin: 0.2rem 0px;
        &:hover {
            background-color: #e4e4e421;
        }
        .MuiSvgIcon-root {
            fill: $black;
        }
    }
}