.Header {
    display: flex;
    align-items: center;
    font-family: 'Secular One', sans-serif;
    height: 45px;
    display: flex;
    align-items: center;
    padding: 0px 20px 0rem 1.2rem;
    font-size: 20px;

    @include large-mobile {
        padding: unset;
    }

    .AddNew {
        @extend .ButtonDefault;
        display: flex;
        align-items: center;
        max-height: 2rem;
        padding: 0.1rem 1rem 0.1rem 1rem;
        color: $black;
        box-shadow: $defaultBoxShadow;
        margin-left: auto;

        > svg {
            fill: $black;
            padding: 0.25rem;
            cursor: pointer;
        }

        &.dark {
            color: $black;

            &:hover {
                color: $white;
                border: 1px solid $white;

                > svg {
                    fill: $white;    
                }
            }

            > svg {
                fill: $black;
            }
        }
    }
}