@import '../../styles/variables.scss';

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.App {
    background-color: $white;
    // background-color: $black;
    height: 100vh;
}