.BugTitle {
    width: 100%;
    padding-right: 20px;

    > input {
        border-radius: 6px;
        border: 1px solid transparent;
        width: inherit;
        height: 32px;
        font-size: 1rem;
        padding: 0px 1rem;

        &:focus-visible,
        &:hover {
            outline: none;
            border: 1px solid $grey;
        }    
    }
}