@import '../../styles/variables.scss';

.BugId {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: auto;

    span {
        @extend .ButtonDefault;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: space-between;
        border: 1px solid $black;
        font-size: 1rem;
        background-color: $bgGrey;
        font-family: 'Secular One', sans-serif;
        padding: 0rem .6rem 0px 0px;
        box-shadow: $defaultBoxShadow;

        > svg {
            background-color: $black;
            fill: $white;
            height: inherit;
            width: 30px;
            border-bottom-left-radius: inherit;
            border-top-left-radius: inherit;
            padding: 0.4rem;
            margin-right: .4rem;
        }
    }
}